<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="eclipse-plugin-code-generator.contribution1"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="eclipse-plugin-code-generator.menu1"
               label="Code Generator"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.framework.cg.internal.ui.actions.GeneratorPopupAction"
               enablesFor="1"
               id="eclipse-plugin-code-generator.newAction"
               label="Run"
               menubarPath="eclipse-plugin-code-generator.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
